courses.main
    div Courses!!
    //section.container-main
    //    h1.h1 Courses
    //
    //    .button-block
    //        button(data-ng-click="ui.showAddCourseForm()") Add new course
    //
    //    .add-course-block(data-ng-show="ui.showAddCourse")
    //        form
    //            label(for="name") Name
    //            input(name="name" type="text" data-ng-model="newCourse.name")
    //            br
    //            label(for="nrOfHoles") Number of holes
    //            input(name="nrOfHoles" type="number" data-ng-model="newCourse.nrOfHoles" value="18")
    //            br
    //            table
    //                tr
    //                    td(data-ng-repeat="hole in range(1, newCourse.nrOfHoles)") {{hole}}
    //                tr
    //                    td(data-ng-repeat="hole in range(1, newCourse.nrOfHoles)")
    //                        input(name="{{'par' + hole}}" type="number" ng-model="newCourse['par'+hole]")
    //            br
    //            input(type="button" data-ng-click="ui.cancelAddCourse" value="Cancel")
    //            input(type="submit" data-ng-click="addCourse(newCourse)" value="Add")
    //
    //    .courses-block.grid-parent
    //        .courses-each.grid-child(data-ng-repeat="course in courses")
    //            .courses-each-name {{course.name}}
    //            table
    //                tr
    //                    td(data-ng-repeat="hole in course.pars track by $index") {{$index + 1}}
    //                tr
    //                    td(data-ng-repeat="par in course.pars track by $index") {{par}}