header.header
    .clearfix
        .logo-block.grid-child
            a.logo([routerLink]="['/Overview']") Scorecard
        nav.nav-block
            ul.ul-base.nav
                li
                    a([routerLink]="['/Overview']") Overview
                li
                    a([routerLink]="['/Courses']") Courses
                li
                    a([routerLink]="['/Players']") Players