@import 'variables';

.courses-block {
}

.courses-each {
  margin: 0 0 $space-wide 0;
  padding: $space-wider 0 0 0;
  border-top: 1px solid $main-text-color;
  @media only screen and (min-width: $screen-mid) {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.courses-each-name {
  font-size: $font-large;
  font-weight: $font-weight-bold;
  font-style: italic;
  text-transform: uppercase;
}