@import 'reset';
@import 'variables';
@import 'structure';
@import 'courses';

/*--- Typography ---*/

.h1 {
  text-align: center;
  padding: $space-widest 0;
}

.h2 {
  text-align: center;
  padding: $space-wider 0;
  text-transform: uppercase;
}

/*--- Layout: Helpers --*/

.background-block {
  background-image: url('../images/frisbee-golf.jpg');
  background-repeat: no-repeat;
}

/*--- Layout: Header ---*/

.header {
  background-color: $primary-color;
  color: $primary-text-color;
  a {
    color: inherit;
  }
}

/* Logo */

.logo-block {
  @media only screen and (min-width: $screen-small) {
    float: left;
  }
}

.logo {
  padding: $space 0 0 0;
  display: block;
}

/* Navigation */

.nav-block {
  @media only screen and (min-width: $screen-small) {
    float: right;
  }
}

.nav li, .nav li a {
  @media only screen and (min-width: $screen-small) {
    display: inline-block;
    vertical-align: top;
  }
}

.nav li a {
  padding: $space;
}

/*--- Layout: Footer ---*/

.footer {
  color: rgba($primary-text-color, $transparency);
  text-align: center;
  background-color: $primary-color;
  padding: $space 0;

  a {
    color: #fff;
  }

  @media only screen and (min-width: $screen-small) {
    text-align: left;
    li {
      display: inline-block;
    }
  }
}

.footer-social-block {
  @media only screen and (min-width: $screen-small) {
    float: left;
  }
}
.footer-copyright-block {
  font-size: $font-smaller;
  margin: $space 0 0 0;
  @media only screen and (min-width: $screen-small) {
    float: right;
  }
}