@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.6;
}

body, input, select, button {
  font-family: sans-serif;
  font-size: $font-size;
  background-color: $main-background-color;
  color: $main-text-color;
}

/*--- General Styles ---*/

a {
  text-decoration: none;
  :hover, :focus {
  }
}

strong, b {
  font-weight: $font-weight-bold;
}

em, i {
  font-style: italic;
}

sub, sup {
  font-size: $font-smallest;
  position: relative;
  line-height: 0;
}

sup {
  top: -$font-size / 2;
}

sub {
  bottom: -$font-size / 2;
}

p {
  margin: 0 0 $space-wide 0;
}

h6 {
  font-size: $font-h6;
}

h5 {
  font-size: $font-h5;
}

h4 {
  font-size: $font-h4;
}

h3 {
  font-size: $font-h3;
}

h2 {
  font-size: $font-h2;
}

h1 {
  font-size: $font-h1;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 $space-wide 0;
}

ol, ul {
  padding-left: $space-wider;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

img, video, svg {
  max-width: 100%;
  height: auto;
}

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  button {
    cursor: pointer;
  }
}

textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: $space-wider;
}

th {
  font-weight: $font-weight-bold;
}

/*--- Helper styles ---*/

/* Clearing */

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Typography */

.ul-base {
  padding: 0;
  list-style-type: none;
}

.font-small {
  font-size: $font-small;
}

.font-smaller {
  font-size: $font-smaller;
}

.font-smallest {
  font-size: $font-smallest;
}

.font-large {
  font-size: $font-large;
}

.font-larger {
  font-size: $font-larger;
}

.font-largest {
  font-size: $font-largest;
}

/* Centering */

.center {
  text-align: center;
}

.center-element {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Full width */

.full-width {
  display: block;
  width: 100%;
}

/*--- Grid ---*/

.grid-parent {
  margin-left: -$space-wide;
  margin-right: -$space-wide;
}

.grid-parent:after {
  content: '';
  display: table;
  clear: both;
}

.grid-child {
  padding-left: $space-wide;
  padding-right: $space-wide;
}

/*--- Containers ---*/

.container-full, .container-main, .container-mid, .container-sm, .container-xs {
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-wide;
  padding-right: $space-wide;
}

.container-full {
  max-width: 100%;
}

.container-main {
  max-width: $screen-large;
}

.container-mid {
  max-width: $screen-mid;
}

.container-sm {
  max-width: $screen-small;
}

.container-xs {
  max-width: $screen-xs;
}

