/*--- Colors ---*/

$primary-color: #242;
$primary-text-color: #eee;
$main-background-color: #333;
$main-text-color: #eee;
$transparency: 0.8;

/*--- Fonts ---*/

$font-size: 16px;

$font-small: 90%;
$font-smaller: 80%;
$font-smallest: 70%;
$font-large: 110%;
$font-larger: 120%;
$font-largest: 130%;

$font-h6: 110%;
$font-h5: 120%;
$font-h4: 130%;
$font-h3: 140%;
$font-h2: 160%;
$font-h1: 180%;

$font-weight-bold: 700;

/*--- Margins and Padding ---*/

$space: 10px;
$space-wide: 15px;
$space-wider: 20px;
$space-widest: 40px;

/*--- Screen sizes ---*/

$screen-large: 1200px;
$screen-mid: 900px;
$screen-small: 700px;
$screen-xs: 600px;