footer.footer
    .container-full
        .grid-parent
            .footer-social-block
                ul.ul-base
                    li
                        a(href="")
                            img.footer-social-each(src="http://placehold.it/30x30" alt="Share to Twitter")
                    li
                        a(href="")
                            img.footer-social-each(src="http://placehold.it/30x30" alt="Share to Facebook")
                    li
                        a(href="")
                            img.footer-social-each(src="http://placehold.it/30x30" alt="Share to Google+")
                    li
                        a(href="")
                            img.footer-social-each(src="http://placehold.it/30x30" alt="Share to Skype")
                    li
                        a(href="")
                            img.footer-social-each(src="http://placehold.it/30x30" alt="Share to E-mail")
            .footer-copyright-block
                div Copyright 2015, Henrik Larsson
                div
                    a(href="https://bitbucket.org/henrik_larsson/scorecard") Bitbucket repository