doctype
html
    head
        base(href='/')
        title Scorecard
        link(rel="stylesheet" href="/css/scorecard.css")

        script(src="/libs/es6-shim.min.js")
        script(src="/libs/system-polyfills.js")
        script(src="/libs/shims_for_IE.js")

        script(src="/libs/angular2-polyfills.js")
        script(src="/libs/system.src.js")
        script(src="/libs/Rx.js")
        script(src="/libs/angular2.dev.js")
        script(src="/libs/router.dev.js")

        script.
            System.config({
                packages: {
                    js: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('/js/bootstrap').then(null, console.error.bind(console));

    body
        scorecard-app
